.faqs {
  button {
    background: none;
    border: none;
  }
  i {
    font-size: 2em;

    &.fa-trash-alt {
      color: red;
    }
    &.fa-pen-square,
    &.plus-square {
      color: blue;
    }
    &.check-square {
      color: green;
    }
  }
}
